{% extends "codestudy/base.html" %}
{% block title %}
    Add Paper
{% endblock %}
{% block content %}
    <div class="ui text container">
        <h1 style="text-align: center">Add Paper to Code Study</h1>
        <div class="ui form">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field">
                    <div class="ui left icon input">
                        <i class="sticky note icon"></i>
                        <input type="text" name="title" placeholder="Title">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="align left icon"></i>
                        <input type="text" name="description" placeholder="Description">
                    </div>
                </div>
                {% for tag_class in tag_classes %}
                    <div class="field">
                        <select class="ui fluid search dropdown" multiple name="{{ tag_class.pk }}">
                            <option value="">{{ tag_class.name }}</option>
                            {% for tag in tag_class.tag_set.all %}
                                <option value="{{ tag.pk }}">{{ tag.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}

                <div class="field">
                    {#                    <label for="pdf" hidden>PDF of the Paper</label>#}
                    <input type="file" name="pdf" id="pdf" accept=".pdf">

                </div>

                <button type="button" id="fakeSubmit" class="ui fluid large teal button" onclick="fs()">Add</button>
                <button type="submit" id="submit" hidden></button>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $('#menu-add-paper').addClass('active');
        $('.ui.dropdown').dropdown();
        $('.ui.form')
            .form({
                    fields: {
                        title: 'empty',
                        description: 'empty',

                        pdf: 'empty',
                    }
                }
            )
        ;

        async function fs() {
            const status = $('#s3');
            const submit = $('#submit');
            submit.click()
            if ($('.ui.form').form('is valid')) {
                const button = $('#fakeSubmit');
                button.addClass('loading');
            }
        }
    </script>
    <script>

    </script>
{% endblock %}