{% extends "codestudy/base.html" %}
{% block title %}
    Add Paper | Code Study
{% endblock %}
{% block content %}
    <div class="ui text container">
        <h1 style="text-align: center">Add Paper to Code Study</h1>
        <div class="ui form">
            <form method="post" autocomplete="off">
                <input autocomplete="false" name="hidden" type="text" style="display:none;">
                {% csrf_token %}
                <div class="field">
                    <div class="ui left icon input">
                        <i class="sticky note icon"></i>
                        <input type="text" name="title" placeholder="Title">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <textarea rows="3" type="text" name="description" placeholder="Description"></textarea>
                    </div>
                </div>
                {% for tag_class in tag_classes %}
                    <div class="field">
                        <select class="ui fluid search dropdown" multiple id="select-{{ tag_class.pk }}"
                                name="{{ tag_class.pk }}">
                            <option value="">{{ tag_class.name }}</option>
                            {% for tag in tag_class.tag_set.all %}
                                <option value="{{ tag.pk }}">{{ tag.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}

                <div class="field">
                    <div class="ui grid middle aligned">
                        <div class="ui four wide column">
                            <select class="ui fluid dropdown" name="upload-option" id="upload-option">
                                <option value="">Upload Method</option>
                                <option value="1">File</option>
                                <option value="2">Link</option>
                            </select>
                        </div>
                        <div class="ui twelve wide column">
                            <input type="file" name="pdf" id="pdf" accept=".pdf">
                            <input type="text" name="link" id="link" placeholder="Link" hidden>
                        </div>
                    </div>

                </div>
                <input type="text" name="pdf-key" id="pdf-key" hidden>
                <button type="button" class="ui fluid large teal button" id="fake-submit" onclick="fs()">Add</button>
                <button type="submit" id="submit" hidden></button>
            </form>
            <div class="ui teal progress" id="progress-bar" style="display:none;">
                <div class="bar"></div>
                <div class="label">Uploading</div>
            </div>

        </div>
    </div>
    <form method="get" action="{% url 'codestudy:presign-s3' %}" hidden>
        <input type="text" id="file-name" name="file-name">
    </form>
{% endblock %}
{% block js %}
    <!--suppress JSUnfilteredForInLoop -->
    <script>
        const bar = $('#progress-bar');
        bar.progress({
            value: 20,
            total: 200,
        });
        $('#menu-add-paper').addClass('active');
        {% for tag_class in tag_classes %}
            $('#select-{{ tag_class.pk }}').dropdown();
        {% endfor %}
        const uploadOptionsSelect = $('#upload-option');
        const uploadOptionsEnum = Object.freeze({
            'file': 1,
            'link': 2,
        });
        let uploadOption = uploadOptionsEnum.file;
        const pdf = $('#pdf');
        const link = $('#link');
        const form = $('.ui.form');
        uploadOptionsSelect
            .dropdown({
                onChange: function (value, text, $selectedItem) {
                    uploadOption = Number(value);
                    if (uploadOption === uploadOptionsEnum.file) {
                        pdf.removeAttr('hidden');
                        link.attr('hidden', 'hidden');
                        form.form({
                            fields:
                                {
                                    title: 'empty',
                                    description: 'empty',
                                    pdf: 'empty',
                                }
                        });
                    } else if (uploadOption === uploadOptionsEnum.link) {
                        pdf.attr('hidden', 'hidden');
                        link.removeAttr('hidden');
                        form.form({
                            fields:
                                {
                                    title: 'empty',
                                    description: 'empty',
                                    link: 'empty',
                                }
                        });
                    } else {
                        console.assert(false, "Upload Option does not match any known type");
                    }
                }
            })
        ;
        uploadOptionsSelect.dropdown('set selected', uploadOptionsEnum.file);


        let uploaded = false;

        /**
         * A click handler function for submitting submitting the form.
         * @type {*|jQuery.fn.init|jQuery|HTMLElement}
         */
        async function fs() {
            const submit = $('#submit');
            if (uploaded || !form.form('is valid') || uploadOption === uploadOptionsEnum.link) {
                submit.click();
                return;
            }
            $('#fake-submit').css('display', 'none');
            bar.css('display', 'block');
            const s3Data = await getS3Data(pdf.val().replace(/C:\\fakepath\\/i, ''));
            let fileName = await uploadFile(pdf.prop('files')[0], s3Data);
            $('#pdf-key').val(fileName);
            pdf.val(null);
            form.form({});
            uploaded = true;
            submit.click();
        }

        /** This gets the presigned data from the server in order for the browser to upload, and returns a Promise
         * of the data.
         * @param {string} fileName The file name of the file to be uploaded. Used as part of the presigned signature.
         * @return {Promise<Object>} The presigned S3 data.
         */
        function getS3Data(fileName) {
            return new Promise((resolve, reject) => {
                const url = "{% url 'codestudy:presign-s3' %}?" + $.param({file_name: fileName});
                $.get(
                    url,
                    data => resolve(data)
                )
            });
        }

        /**
         * Upload the file given file to the S3 bucket.
         * @param {File} file The file to be uploaded.
         * @param {Object} s3Data The presigned S3 data.
         * @return {Promise<string>} The object key in the S3 bucket.
         * @type {XMLHttpRequest}
         */
        function uploadFile(file, s3Data) {

            let xhr = new XMLHttpRequest();
            xhr.open('POST', s3Data.url);
            let postData = new FormData();
            for (const key in s3Data.fields) {
                postData.append(key, s3Data.fields[key]);
            }
            postData.append('file', file);
            xhr.upload.addEventListener('progress', function (e) {
                // Percentage of upload completed
                bar.progress({
                    value: e.loaded,
                    total: e.total,
                });
            });
            return new Promise(resolve => {
                xhr.onreadystatechange = () => {
                    if (xhr.readyState === 4 && (xhr.status === 200 || xhr.status === 204)) {
                        resolve(s3Data.fields.key);
                    }
                };
                xhr.send(postData);
            });

        }
    </script>
    <script>

    </script>
{% endblock %}