{% extends 'codestudy/base.html' %}
{% block title %}
    Admin Console
{% endblock %}
{% block content %}

    <div class="ui text container">
        <h1 style="text-align: center">Admin Console</h1>
        <div class="ui segment">
            <div class="ui stackable grid">
                <div class="twelve wide column">
                    <h1>Edit User Permissions</h1>
                </div>
            </div>
            <table class="ui left aligned table">
                <tbody>
                {% for user in users %}
                    <tr id="user_row_{{ tag.pk }}">
                        <td>{{ user.name }} &lt{{ user.email }}&gt</td>
                        <td class="right aligned">
                            <div class="ui buttons">
                                {% for user_type in user.all_types %}
                                    <button id="{{ user_type|lower }}_button_{{ user.pk }}" class="ui button"
                                            onclick="mark('{{ user.pk }}', '{{ user_type|lower }}')">{{ user_type|title }}</button>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="ui right aligned grid">
                <div class="column">
                    <form method="post">
                        {% csrf_token %}
                        {% for user in users %}
                            {% for user_type in user.all_types %}
                                <input type="radio" id="{{ user_type|lower }}_radio_{{ user.pk }}" name="{{ user.pk }}"
                                       value="{{ user_type|lower }}" hidden>
                            {% endfor %}

                        {% endfor %}
                        <input id="changeLog-json" name="changeLog-json" hidden>
                        <button type="button" class="ui button" onclick="window.location.reload();">Cancel</button>
                        <button type="submit" class="ui teal button">Save</button>
                        <button type="submit" id="changeLog-submit" hidden></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        {% for user in users %}
            $('#{{ user.type_lower }}_radio_{{ user.pk }}').prop('checked', true);
            $('#{{ user.type_lower }}_button_{{ user.pk }}').addClass('active');
        {% endfor %}
        function mark(id, type) {
            $('#' + type + '_radio_' + id).prop('checked', true);
            {% for user_type in users.0.all_types %}
                $('#{{ user_type|lower }}_button_' + id).removeClass('active');
            {% endfor %}
            $('#' + type + '_button_' + id).addClass('active');
        }
    </script>
{% endblock %}