{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <title>{% block title %}Code Study{% endblock %}</title>
</head>
<body>
<div class="ui menu">
    <div class="header item">Code Study</div>
    <a class="item" id="menu-search" href="{% url 'codestudy:index' %}">Search</a>
    <a class="item" id="menu-results" href="{% url 'codestudy:results' %}">Results</a>
    {% if user.can_edit %}
        <a class="item" id="menu-add-paper" href="{% url 'codestudy:add-paper' %}">Add Paper</a>
        <a class="item" id="menu-edit-tags">Edit Tags</a>
    {% endif %}
    <div class="ui dropdown item" tabindex="0">
        Browse by Topic
        <i class="dropdown icon"></i>
        <div class="menu" tabindex="-1">
            <div class="item">Action</div>
            <div class="item">Another Action</div>
            <div class="item">Something else here</div>
            <div class="divider"></div>
            <div class="item">Separated Link</div>
            <div class="divider"></div>
            <div class="item">One more separated link</div>
        </div>
    </div>
    <div class="right menu">
        <a class="item">Log In</a>
    </div>
</div>

{% block content %}
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
{% block js %}
{% endblock %}
</body>
</html>