{% extends 'codestudy/base.html' %}
{% block title %}
    Edit Paper
{% endblock %}
{% block content %}
    <div class="ui text container">
        <h1 style="text-align: center">Edit Paper {{ paper.title }}</h1>
        <div class="ui form">
            <form method="post">
                {% csrf_token %}
                <div class="field">

                    <div class="ui left icon input">
                        <i class="sticky note icon"></i>
                        <input type="text" name="title" placeholder="Title" value="{{ paper.title }}">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">

                        <textarea rows="3" name="description" placeholder="Description">{{ paper.description }}</textarea>
                    </div>
                </div>
                {% for tag_class in tag_classes %}
                    <div class="field">
                        <select class="ui fluid search dropdown" multiple id="select-{{ tag_class.pk }}"
                                name="{{ tag_class.pk }}">
                            <option value="">{{ tag_class.name }}</option>
                            {% for tag in tag_class.tag_set.all %}
                                <option value="{{ tag.pk }}">{{ tag.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}
                <div class="field">
                    <button type="button" id="d" class="ui fluid large button" onclick="markDelete()"><i
                            class="trash icon"></i></button>
                </div>
                <input type="checkbox" id="delete" name="delete" value="on" hidden>
                <button type="submit" id="submit" class="ui fluid large teal button">Update</button>
            </form>
            <div class="ui teal progress" id="progress-bar" style="display:none;">
                <div class="bar"></div>
                <div class="label">Uploading</div>
            </div>

        </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        let tags = [];
        {% for tag in paper.tags.all %}
            tags.push("{{ tag.pk }}");
        {% endfor %}
        console.log(tags);
        {% for tag_class in tag_classes %}
            $('#select-{{ tag_class.pk }}').dropdown('set selected', tags);
        {% endfor %}
        function markDelete() {
            const d = $('#d');
            const deleteMark = $('#delete');
            if (deleteMark.is(':checked')) {
                deleteMark.prop('checked', false);
                d.removeClass('red');
            } else {
                deleteMark.prop('checked', true);
                d.addClass('red');
            }
        }
    </script>
{% endblock %}