{% extends "codestudy/base.html" %}
{% block title %}
    Search
{% endblock %}
{% block content %}
    <div class="ui text container">
        <h1 style="text-align: center">Search in Code Study</h1>
        <form class="ui form" action="{% url 'codestudy:results' %}" method="get">

            <div class="field">
                <div class="ui left icon input">
                    <i class="search icon"></i>
                    <input type="text" name="terms" placeholder="Search Terms">
                </div>
            </div>
            <div class="ui stacked segment">
                {% for tag_class in tag_classes %}
                    <div class="field">
                        <select class="ui fluid search dropdown" multiple name="{{ tag_class.name }}">
                            <option value="">{{ tag_class.name }}</option>
                            {% for tag in tag_class.tag_set.all %}
                                <option value="{{ tag.name }}">{{ tag.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}
            </div>

            <button type="submit" class="ui fluid large teal button">Search</button>


        </form>

    </div>

{% endblock %}
{% block js %}
    <script>

        $('.ui.checkbox').checkbox();
        $('#menu-search').addClass('active');

    </script>
{% endblock %}
