{% extends "codestudy/base.html" %}

{% block content %}
    <title>Welcome</title>
    <main role="main" class="container  mt-4">

        <h1>Search for Code Studies</h1>
        <p><a href="{% url 'codestudy:index' %}">Self</a></p>

                <form action="{% url 'codestudy:search_result' %}" method='get' class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="search-terms">Search Terms</label>
                        <input type="text" class="form-control" name="search-terms" placeholder="Cognitive Schema" required>
                        <div class="invalid-feedback">
                            Please enter the search terms.
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="topic">Topic</label>
                            <select class="custom-select d-block w-100" id="topic" name="topic" required>
                                <option value="">Choose...</option>
                                <option>Brain & Behavior </option>
                                <option>Hormones and pheromones and their effects on behavior</option>
                                <option>The relationship between genetics and behavior</option>
                                <option>Cognitive processes</option>
                                <option>The reliability of cognitive processes</option>
                                <option>Emotion and cognition</option>
                                <option>The individual and the group</option>
                                <option>Cultural origins of behavior and cognition</option>
                                <option>Cultural influences on behavior</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid topic.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="approach">Approach</label>
                            <select class="custom-select d-block w-100" id="approach" name="approach" required>
                                <option value="">Choose...</option>
                                <option>Biological Approach</option>
                                <option>Cognitive Approach</option>
                                <option>Sociocultural Approach</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid approach.
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="ib-approved" name="ib-approved">
                        <label class="custom-control-label" for="ib-approved">IB Approved</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="other-options" name="other-options">
                        <label class="custom-control-label" for="other-options">Other options...</label>
                    </div>
                    <hr class="mb-4">

                    <h4 class="mb-3">Options</h4>

                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked
                                   required>
                            <label class="custom-control-label" for="credit">#1</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                            <label class="custom-control-label" for="debit">#2</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                            <label class="custom-control-label" for="paypal">#3</label>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Search</button>
                </form>

    </main>
        <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>

{% endblock %}