# Ipython is just the best
ipython

# Django
django

# Heroku stuff
django-heroku
psycopg2
gunicorn

# S3 Storage
django-storages
boto3
python-dotenv

# PDF Processing
pdf2image

# Authentication
requests
google-auth

# Extract PDF text
textract

# Search Engine
python-Levenshtein
fuzzywuzzy
