{% extends "codestudy/base.html" %}
{% block title %}
    Add Paper | Code Study
{% endblock %}
{% block content %}
    <div class="ui text container">
        <h1 style="text-align: center">Get Your SSH Keys installed </h1>
        <div class="ui form">
            <p method="post" autocomplete="off">
                <input autocomplete="false" name="hidden" type="text" style="display:none;">
                {% csrf_token %}
                <div class="field">
                    <div class="ui left icon input">
                        <i class="sticky note icon"></i>
                        <input type="text" name="title" placeholder="Github Username">
                    </div>
                </div>
                <button type="submit" id="submit" class="ui fluid large teal button">Install Keys</button>
            </form>

        </div>

    </div>

{% endblock %}
{% block js %}
    <script>
        $('#menu-get-user').addClass('active');
    </script>
{% endblock %}